<div class="info">
	<div class="head">
		Settings
	</div>


	<div class="content">
		<div class="head2">
			Personal Data
		</div>
		<section>
			<form class="personal-data-form">
			<form-group>
				<div class="form-group">
					<label for="text">User Id</label>
					<input class="form-control" ng-model = "vm.user.userId" disabled/>
				</div>
			</form-group>
			<form-group>
				<div class="form-group">
					<label for="text">User name</label>
					<input class="form-control" ng-model = "vm.user.userName" disabled/>
				</div>
			</form-group>
			
			<div class="form-group">
				<forminput label="Title" type="text" input="vm.user.title" class="col-xs-4 col-sm-2 col-md-2" style="padding-left: 0px;"></forminput>
				<forminput label="First name" type="text" input="vm.user.firstName" class="col-xs-4 col-sm-5 col-md-5" required="true"></forminput>
				<forminput label="Last name" type="text" input="vm.user.lastName" class="col-xs-4 col-sm-5 col-md-5" style="padding-right: 0px;" required="true"></forminput>
			</div>
				<forminput label="Profession / Job" type="text" input="vm.user.job" required="true"></forminput>
				<forminput label="E-mail" type="text" input="vm.user.email" required="true"></forminput>
			</form>
		</section>
		
		<div class="head2">
			Academic Disciplines
		</div>
		<section class="changeDisciplines">
		<div>
			<table class="table">
				<tbody data-ng-repeat="item in vm.disciplines">
					<tr>
						<td>{{item.academicDisciplinesName}}</td>
						<td align="right">
							<button id="removeBtn" class="btn btn-xs btn-primary" data-ng-click="vm.removeSelectedDisciplines($index)">
								Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- 		<div class="form-group"> -->
<!-- 			<div class="form-group col-sm-10"> -->
<!-- 				<input type="text" ng-model="vm.selectedDisc" placeholder="Academic Disciplines" uib-typeahead="disciplines as disciplines.academicDisciplinesName for disciplines in vm.preload | filter:{academicDisciplinesName:$viewValue} | limitTo:10" -->
<!-- 				 class="form-control" typeahead-show-hint="true" typeahead-min-length="1"> -->
<!-- 			</div> -->
<!-- 			<div class="form-group col-sm-2"> -->
<!-- 				<button id="academicDisciplonesBtn" class="btn btn-primary btn-block" data-ng-click="vm.addSelectedDisciplines(vm.selectedDisc)" -->
<!-- 				 ng-disabled="vm.selectedDisc == null">Add</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
		</section>
		
		<div class="head2">
			Change Password
		</div>
		<section class="passwordChange">
			<forminput label="Old password" type="password" input="vm.password.oldPassword" required="true"></forminput>
			<forminput label="New password" type="password" input="vm.password.newPassword" required="true"></forminput>
			<forminput label="New password again" type="password" input="vm.password.newPasswordAgain" required="true"></forminput>
			<button class="btn" ng-click="vm.changePassword(vm.password)">Change password</button>
		</section>
	</div>
</div>
<pre>{{vm.preload}}</pre>